# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/

# PyCharm / VSCode files
.idea/
.vscode/

# OS files
.DS_Store
